<div class="container-fluid" id="header">
    <div class="container-fluid">
       
      <div class="header">
          <div class="row row-content">
              <div class="col-xs-12 col-sm-9">
                 
                  <h4 class="contentTitle">Some skills I've mastered </h4>
                  <p>{{skillList}}</p>
              </div>
            </div>
            <br/>
        <div class="row row-content">
          <div class="col-xs-12 col-sm-9">
            <h4>University of North Carolina at Charlotte</h4>
            <p>Master's degree, Information Technology </p>
            <p> 2017 -2018</p>
          </div>
        </div>
        <br/>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
              <h4>University of Mumbai</h4>
              <p>Bachelor's degree, Computer Engineering </p>
              <p> 2009- 2013 </p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  