<div class="container-fluid" id="header">
    <div class="container-fluid">
       
      <div class="header">
          <div class="row row-content">
              <div class="col-xs-12 col-sm-9">
                  <h3 class="contentTitle">Please contact at: </h3>
              </div>
            </div>
            <br/>
        <div class="row row-content">
          <div class="col-xs-12 col-sm-9">
            <h3><i class="fa fa-mobile" aria-hidden="true">&nbsp;: +1-(704)-819-9562</i></h3>
            <h3><i class="fa fa-envelope" aria-hidden="true">: nvaishna@uncc.edu</i> </h3>
          </div>
        </div>
        <br/>
        <span class="social"> 
            <i class="fa fa-github-square" aria-hidden="true"></i>&nbsp;<a href="{{contactItems[0].url}}">{{contactItems[0].label}}</a>
            <i class="fa fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;<a href="{{contactItems[1].url}}">{{contactItems[1].label}}</a>
      </span>
      </div>
    </div>
  