.header {
    
    text-align: center;
    margin-left: 10em;
    margin-top:12em;
  }

  .social{
    
    color: black;
    margin-bottom: 15px;
    text-align: center;
    width:100%;
    margin-left:-22em;
  }
  
  .header h1 {
    font-family: 'Merriweather', 'Roboto', sans-serif;
    opacity: 0.9;
    font-weight: lighter;
    font-size: 30px;
  }

  a{
    color:Black;
    font-size: 1.5em;
  }



.summary {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}



/* One column grid of 250px blocks when screen smaller than 600px */
@media screen and ( max-width: 600px)  {
    .header {
        text-align: center;
        margin-left: 4em;
        margin-top:-2em;
      }
    .summary {
         width:250px;
         margin-left:-3em;
         margin-top:-20px;
     }
    h1{
        width:228.5px;
        margin-left:-0.5em;
        margin-top:5px;
     }

     h2{
        margin-top:-20px;
     }
     .social{
        width:228.5px;
        margin-left:-3em;
        margin-top:-20px;
        text-align: center;
     }
     .avatar{
        width:228.5px;
        margin-left:-1em;
        margin-top:-60px;
     }
 }

 @media only screen 
 and (device-width : 736px){
   .social{
    color: black;
    margin-bottom: 15px;
    text-align: center;
    width:100%;
    margin-left: 2em;
   }

   .header {
    
    text-align: center;
    margin-left: 10em;
    margin-top: 5em;
  }

 }

   /* IphoneX */
   @media only screen 
   and (device-width : 375px) 
   and (device-height : 812px) {
    .header {
      text-align: center;
      margin-left: 4em;
      margin-top:9em;
    }
   }

    /* Iphone8 plus */
 @media only screen 
 and (device-width : 414px) 
 and (device-height : 736px) {
    .header {
        text-align: center;
        margin-left: 4em;
        margin-top:4em;
      }
      .social{
        margin-left:-2em;
     }
 }

 /* iPad  */
 @media only screen and (device-width: 768px) {
  .header {
      text-align: center;
      margin-left: 4em;
      margin-top:20em;
    }
    .social{
        margin-left:-7em;
        text-align: center;
     }
}

 /* iPad Pro */
 @media only screen and (device-width: 1024px) {
  .header {
      text-align: center;
      margin-left: 4em;
      margin-top:20em;
    }
}

