.hamburger {
    
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
  }
  
  
  .hamburger span {
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: #6495ED;
  }
  
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #6495ED;
    content: "";
  }
  
  .hamburger span::before {
    top: -20px;
  }
  
  .hamburger span::after {
    bottom: -20px;
  }

      /* IphoneX */
      @media only screen 
      and (device-width : 375px) 
      and (device-height : 812px) {
        :host{
          width:34%;
          height:53em;
      }
      }