<div class="row row-content">
    <div class="col-xs-12">
            <div class="header">
                    <div class="row row-content">
                        <div class="col-xs-12 col-sm-9">
                            <h3 class="contentTitle">Some Professional Projects</h3>
                            <p></p>
                        </div>
                      </div>
             </div>  
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                    <li data-target="#mycarousel" data-slide-to="3"></li>

                </ol>
                       

                <div class="item active">
                    <div class="carousel-caption" id="response">
                        <h4>{{h1}} </h4>
                        <p>{{desc1}}</p>
                            <p><a class="btn btn-primary btn-xs" href="https://cci-git.uncc.edu/u/vguduri">source code &raquo;</a></p>
                    </div>

                </div>
                <div class="item">
                    <div class="carousel-caption" id="response">
                        <h4>{{h2}} </h4>
                        <p>{{desc2}}</p>
                            <p><a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/naren-vaishnavi-41875bb6/">LinkedIn &raquo;</a></p>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-caption" id="response">
                        <h4>{{h3}}</h4>
                        <p>360Control commercial card management system enables user to manage commercial card transactions
                            through a Web-based user interface. My role because was of
                            <strong>"Module lead".</strong> The project is based on AngularJS framework
                             to create user friendly interfaces. </p>
                            <p><a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/naren-vaishnavi-41875bb6/">LinkedIn &raquo;</a></p>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-caption" id="response">
                     
                        <h4>{{h4}}</h4>
                        <p>{{desc3}}</p>
                            <p><a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/naren-vaishnavi-41875bb6/">LinkedIn &raquo;</a></p>
                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
         </a>
            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
         </a>

            <div class="btn-group" id="carouselButtons">
                <button class="btn btn-danger btn-sm" id="carousel-pause">
               <span class="fa fa-pause" aria-hidden="true"></span>
             </button>
                <button class="btn btn-danger btn-sm" id="carousel-play">
               <span class="fa fa-play" aria-hidden="true"></span>
             </button>
            </div>
        </div>
    </div>
</div>

