<div class="container-fluid" id="header">
    <div class="container-fluid">
        <div class="header">
            <img src="assets/images/rahul.jpg" alt="Naren Vaishnavi" class="avatar" />
            <br/>
            <h1>
              {{name}}
            </h1>
            <br/>
            <h2>
              <marquee>{{title}}</marquee>
            </h2>
            <br/>
            <p class="summary">
              {{summary}}
            </p>
            <span class="social"> 
                    <i class="fa fa-github-square" aria-hidden="true"></i>&nbsp;<a href="{{contactItems[0].url}}">{{contactItems[0].label}}</a>
                    <i class="fa fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;<a href="{{contactItems[1].url}}">{{contactItems[1].label}}</a>
              </span>
          </div>
  </div>
  </div>

 