<div class="ui-g ui-g-nopad" id="header">


    <div id="sidenav" >
            <img src="assets/images/web.jpg" alt="Naren Vaishnavi" class="avatar" />
        <ul>
            <li>
                    <a routerLink="profile"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Profile</a>
            </li>
            <li>
                    <a routerLink="education"><i class="fa fa-graduation-cap"></i>&nbsp;Education</a>
            </li>
            <li>
                    <a routerLink="carrer"><i class="fa fa-suitcase"></i>&nbsp;&nbsp;Carrer</a>
            </li>
            <li>
                    <a routerLink="project"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Project</a>
            </li>
            <li>
                    <a routerLink="contact"><i class="fa fa-address-card"></i>&nbsp;&nbsp;Contact</a>
            </li>
        </ul>
    </div>

</div>